body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ul {
    list-style: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.hidden{
    display: none !important;
}

.card{
    position: absolute;
    top: 25%;
    left: 25%;
    height: 30em;
    width: 60em;
    padding: 3em;
    border-radius: 25px;
    background-color: color(secondary);
}

.close{
    clip-path: circle(0);
}

.zoomIn{
    animation-name: fade-zoomIn;
    animation-duration: 3s;

}

  @keyframes zoom2 {
    0% { transform: scale(1);}

    80% {opacity: 0;}
    100% { 
        transform: scale(50); 
        opacity: 0;
    }
  }

.zoomOut{
    transform-origin: 12em 12em;
    animation:  zoom2  4s cubic-bezier(0.65, 0, 0.35, 1); //easeInOutCubic
}

@keyframes fade-zoomIn {
    from { 
        transform: scale(30); 
        opacity: 0;
    }
    to { 
        transform: scale(1);
        opacity: 1;
}


//     from {
//         opacity: 0;
//         transform: scale(0);
//     }

//    to {
//         opacity: 1;
//         transform: scale(1);
//     }
}

@keyframes fade-zoomOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }

}