h1 {
    font-family: Elephant;
    font-weight: normal;
    font-size: 2em;
    color: color(quaternary);
}

a{
    color: color(tertiary);
    text-decoration: none;

    &:hover{
        color: color(hover);
    }
}

i {
    font-size: 1.6em !important;
}