* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  color: #FFFFFF;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../img/stage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: Elephant;
  font-weight: normal;
  font-size: 2em;
}

a {
  text-decoration: none;
}

i {
  font-size: 1.3em !important;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.card {
  position: absolute;
  top: 25%;
  left: 25%;
  height: 30em;
  width: 60em;
  padding: 3em;
  border-radius: 1.5em;
  background-color: black;
}

#preloader {
  display: none;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.float {
  animation: float 4s ease-in-out infinite;
}

.zoomOut {
  animation: fade-zoomOut 2s;
}

.zoomIn {
  transform-origin: 12em 12em;
  animation: fade-zoomIn 3s cubic-bezier(0.65, 0, 0.35, 1);
}

.rotate {
  animation: rotate 1s linear infinite;
}

@keyframes fade-zoomIn {
  0% {
    transform: scale(1);
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: scale(50);
    opacity: 0;
  }
}
@keyframes fade-zoomOut {
  from {
    transform: scale(30);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes float {
  0% {
    box-shadow: 0 0.3em 0.9em 0em rgba(0, 0, 0, 0.6);
    transform: translatey(0em);
  }
  50% {
    box-shadow: 0 2.3em 0.9em 0em rgba(0, 0, 0, 0.2);
    transform: translatey(1.2em);
  }
  100% {
    box-shadow: 0 0.3em 0.9em 0em rgba(0, 0, 0, 0.6);
    transform: translatey(0em);
  }
}
.home-page {
  display: flex;
  gap: 2em;
  overflow: hidden;
  color: #FFFFFF;
  background-color: black;
  opacity: 1;
}
.home-page .lamp {
  content: "";
  position: absolute;
  left: 25em;
  top: -1em;
  width: 10em;
  height: 5em;
  background-color: #1e1e1e;
  border-radius: 10em 10em 1.5em 1.5em;
}
.home-page .lamp::before {
  content: "";
  position: absolute;
  left: 3em;
  top: 5em;
  width: 4em;
  height: 2em;
  border-radius: 0 0 10rem 10rem;
  background-color: #FFFFFF;
}
.home-page .lamp::after {
  content: "";
  position: absolute;
  top: 4em;
  left: 4.5em;
  width: 20em;
  height: 11em;
  border-radius: 50%;
  filter: blur(5.6em);
  background: #FFFFFF;
  transform: translateX(-50%);
  animation: blinkLight 5s infinite;
}
@keyframes blinkLight {
  50% {
    opacity: 0.8;
  }
}
.home-page section {
  width: 100%;
}
.home-page section:first-of-type {
  position: relative;
  perspective: 6.25em;
}
.home-page section:first-of-type div:first-child {
  position: relative;
  top: 23%;
  left: 19%;
  width: 8.5em;
  height: 8em;
  border-radius: 0.2em;
  background-color: #1e1e1e;
  transform-style: preserve-3d;
  transform: rotateY(23deg);
}
.home-page section:first-of-type div:first-child span {
  position: absolute;
  top: 0.5em;
  left: 0.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5em;
  height: 7em;
  padding: 1em;
  border-radius: inherit;
  box-shadow: inset 0 0 1em #4b7a8d;
  background-color: #1e1e1e;
  transition: 1s;
}
.home-page section:first-of-type div:first-child span:hover {
  box-shadow: inset 0 0 5em #4b7a8d;
}
.home-page section:first-of-type div:first-child span:hover img {
  filter: contrast(0.5);
}
.home-page section:first-of-type div:first-child span button {
  height: 100%;
  border-radius: 50%;
}
.home-page section:first-of-type div:first-child span button img {
  height: 100%;
  box-shadow: 0 0 0.6em #4b7a8d;
  border-radius: 50%;
  transition: 1s;
  animation: blinkLight 1s infinite;
}
.home-page section:first-of-type div:first-child::before {
  content: "";
  position: absolute;
  top: 8em;
  left: 2.7em;
  width: 2em;
  height: 2em;
  background-color: rgb(102, 102, 102);
  z-index: 1;
}
.home-page section:first-of-type div:first-child::after {
  content: "";
  position: absolute;
  top: 9em;
  left: 1em;
  width: 7em;
  height: 2.5em;
  border-radius: 50%;
  background-color: inherit;
  transform: rotateX(85deg) rotateY(4deg);
}
.home-page section:first-of-type div:nth-of-type(2) {
  position: absolute;
  top: 16.5em;
  left: 11.5em;
  width: 8.5em;
  height: 2.5em;
  border-radius: 0.5em;
  box-shadow: -1em 0em 1em rgba(0, 0, 0, 0.6), 0 0 0 0.06em #aaa inset;
  background-image: linear-gradient(90deg, #888, #ccc);
  transform: rotateY(28deg) rotateX(109deg);
}
.home-page section:first-of-type div:last-child {
  position: absolute;
  top: 14.5em;
  left: 18.5em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.5em;
  box-shadow: -1em 0em 1em rgba(0, 0, 0, 0.6), 0 0 0 0.06em #aaa inset;
  background-image: linear-gradient(90deg, #888, #ccc);
  transform: rotateY(31deg) rotateX(100deg) rotateZ(96deg);
}
.home-page section:first-of-type div:last-child:hover {
  animation: shake 0.5s infinite;
}
@keyframes shake {
  0% {
    transform: rotateY(31deg) rotateX(100deg) rotateZ(96deg) translate(0.06em, 0.06em);
  }
  10% {
    transform: rotateY(31deg) rotateX(100deg) rotateZ(96deg) translate(-0.06em, -0.12em);
  }
  20% {
    transform: rotateY(31deg) rotateX(100deg) rotateZ(96deg) translate(-0.18em, 0em);
  }
  30% {
    transform: rotateY(31deg) rotateX(100deg) rotateZ(96deg) translate(0.18em, 0.12em);
  }
  40% {
    transform: rotateY(31deg) rotateX(100deg) rotateZ(96deg) translate(0.06em, -0.06em);
  }
  50% {
    transform: rotateY(31deg) rotateX(100deg) rotateZ(96deg) translate(-0.06em, 0.12em);
  }
  60% {
    transform: rotateY(31deg) rotateX(100deg) rotateZ(96deg) translate(-0.18em, 0.06em);
  }
  70% {
    transform: rotateY(31deg) rotateX(100deg) rotateZ(96deg) translate(0.18em, 0.06em);
  }
  80% {
    transform: rotateY(31deg) rotateX(100deg) rotateZ(96deg) translate(-0.06em, -0.06em);
  }
  90% {
    transform: rotateY(31deg) rotateX(100deg) rotateZ(96deg) translate(0.06em, 0.12em);
  }
  100% {
    transform: rotateY(31deg) rotateX(100deg) rotateZ(96deg) translate(0.06em, -0.12em) rotate(-1deg);
  }
}
.home-page section:last-of-type {
  width: 60%;
  padding: 2em;
  padding-top: 3.5em;
  text-align: center;
}
.home-page section:last-of-type h1 {
  margin-top: 0.5em;
  font-size: 2.5em;
  border-bottom: solid 0.1em #FFFFFF;
}
.home-page section:last-of-type ul {
  padding: 1.2em 5em;
}
.home-page section:last-of-type ul li:not(:last-of-type) {
  margin-bottom: 0.5em;
}
.home-page section:last-of-type ul figure {
  display: flex;
  gap: 2em;
  align-items: center;
  font-size: 1.5em;
}
.home-page section:last-of-type ul figure:hover a, .home-page section:last-of-type ul figure:hover i {
  color: #e60de6;
}
.home-page section:last-of-type ul img {
  width: 2em;
}

.info-page {
  clip-path: circle(100%);
  transition: clip-path 1s;
}
.info-page.close {
  clip-path: circle(0);
}
.info-page nav {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr 1fr;
  padding: 0.5em;
  text-align: center;
  border-radius: 0.5em 0.5em 0 0;
  background-color: #1e1e1e;
}
.info-page nav i {
  color: black;
}
.info-page nav div {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.3em;
  border-radius: 0.5em;
  background-color: #ccc;
  text-align: left;
}
.info-page nav div i {
  opacity: 0.5;
  margin-right: 0.5em;
}
.info-page nav aside:first-child {
  display: flex;
  gap: 1.5em;
}
.info-page nav aside:first-child i:hover {
  color: #08fdd8;
  cursor: pointer;
}
.info-page nav aside:first-child i:focus {
  color: #1B649C;
}
.info-page nav aside:last-child {
  text-align: end;
}
.info-page nav aside:last-child button {
  background: red;
  width: 4em;
  padding: 0.3em;
  border: none;
  border-radius: 0.5em;
}
.info-page nav aside:last-child button:hover, .info-page nav aside:last-child button:focus {
  box-shadow: 0 0 1em red;
}
.info-page nav aside:last-child button:hover i, .info-page nav aside:last-child button:focus i {
  color: #08fdd8;
}
.info-page nav aside:last-child button:active {
  background: darkred;
}
.info-page nav aside:last-child button:active i {
  color: #08fdd8;
}
.info-page section:last-child, .info-page section:nth-child(3) {
  height: 90%;
  border-radius: 0 0 0.5em 0.5em;
  border: 0.06em solid #1e1e1e;
  border-top: none;
  overflow: hidden;
}
.info-page section.skill-page {
  color: inherit;
}
.info-page section.contact-page {
  padding-top: 1em;
  display: grid;
  text-align: center;
}
.info-page section.contact-page img {
  height: 10em;
}
.info-page section.contact-page a {
  font-size: 1.5em;
}

/*# sourceMappingURL=style.css.map */
