.go-card, .reclame, main>section {
    margin: 1em;
}

.go-card {
    height: 11em;
    width: 18em;
    border-radius: 1.5em;
    background-color: rgb(177, 230, 255);
}

.reclame {
    height: 7em;
    width: 14em;
    border-radius: 1.5em;
    background-color: rgb(255, 190, 183);
}