ul {
    list-style: none;
}
#blur {
    filter: none;
}


main {
    display: grid;
    justify-content: center;
    overflow-y: scroll;
    padding: 2em;
    overflow-x: hidden;

    > section {
        padding: 1em;
        text-align: center;
        font-size: 1.5em;
        border: 1px solid #ccc;
        border-radius: 1.5em;

        img {
            width: 9em;
        }

    }
}

#scanner {
  
    border: none !important;
    
    &:has(video) {
        position: absolute !important;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        z-index: 100;

        button {
                top: -50%;
                left: 8%;
            }
    }

    video {
        width: 100% !important;
        box-shadow: 0px 0px 13em 18em color(secondary);
    }

    button {
        position: absolute;
        top: -5%;
        left: 50%;
        height: 3em;
        transform: translate(-50%, -50%);
    }
}

li {
    &:hover{
        i, i +p {
            color: color(hover);
        }
    }

    &:focus-visible {
        i, i+p {
            color: color(focus);
        }
    }
    
    &:active {
        i, i+p {
            color: color(focus);
        }
    }
}