ul {
    list-style: none;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.btn {
    width: 100%;
    padding: 1em;
    color: color(secondary);
    border-radius: 1em;
    border: none;
    font-weight: bold;
    background-color: skyblue;
    cursor: pointer;

    &:focus-visible {
        background-color: color(focus);
    }   
    &:hover {
        background-color: color(hover);
    }   
    
    &:active {
        background-color: color(active);
    }
}

.hidden {
    display: none;
}

main {
    display: grid;
    justify-content: center;
    overflow-y: scroll;
    padding: 2em;
    overflow-x: hidden;

     > section:not(#product-detail) {
        padding: 1em;
        text-align: center;
        font-size: 1.5em;
        border: 1px solid #ccc;
        border-radius: 1.5em;
        scroll-margin-top: 100px;
        scroll-margin-bottom: 100px;
        transition: 1s;

        img {
            width: 9em;
        }

        &#shopping-list,
        &#products {
            li {
                display: flex;
                gap: 1.5em;
                height: auto;
                padding: 0.5em;
                margin-top: 1em;
                box-shadow: 1px 5px 12px 0px color(secondary);
                border-bottom: 1px solid #ccc;

                img {
                    width: 50%;
                }

                aside {
                    h3 {
                        grid-area: Name;
                        text-align: left;
                    }
                    
                    div {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        align-items: center;
                        margin-top: 2em;

                        p {
                            position: relative;
                            text-align: center;
                            line-height: 8em;
                            height: 5em;
                            &:first-of-type {
                                grid-area: Koolhydr;
                            }  
                            
                            &:nth-of-type(2) {
                                grid-area: Sugar;
                            }  
                            
                            &:last-of-type {
                                grid-area: Salt;
                            }

                            @include respond-to(up-to-sm) {
                                width: 100%;
                            }
    
                            span {
                                position: absolute;
                                top: 25%;
                                left: 50%;
                                width: 2em;
                                height: 2em;
                                border: 1px solid color(secondary);
                                border-radius: 50%;
                                transform: translate(-50%, -50%);
                                line-height: 43px;
                            }
                            }
                    }
                }
            }

            > div {
                margin-top: 2em;
                text-align: left;

                h3 {
                    padding-bottom: 0.2em;
                    margin-bottom: 0.5em;
                    border-bottom: 1px solid color(highlight);
                }
            }
        }
    }

    
    #product-detail {
        width: 100%;
        padding: 1em;
        scroll-margin-top: 100px;
        scroll-margin-bottom: 100px;
        transition: 1s;

        .heading {
            #edit-product-btn{
                width: 3em;
            }

            div {
                display: flex;

                &:first-of-type {
                    flex-wrap: wrap;

                    img {
                        width: 100%;
                        height: 10em;
                        margin-bottom: 2em;
                        object-fit: contain;
                    }
                }   
                
                &:last-of-type {
                    align-items: center;
                    gap: 1em;
                    margin-top: 1em;

                    p {
                        font-size: 1.5em;
                    }
                }  
            }

            .increase, .decrease {
                padding: 0;
                font-size: 2em;
            }

            h1 {
                margin-bottom: 1em;
                font-size: 1.5em;
            }
        }
        
        h2 {
            margin-bottom: 1em;
        }

        li {
            // display: flex;
            // gap: 3em;
            // padding: 0.5em;
            margin-top: 1em;
            border-bottom: 1px solid #333;
        }
    }
}



#scanner {
    padding: none;
    border: none;
    
    &:has(video) {
        position: absolute !important;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }

    video {
        width: 100% !important;
        box-shadow: 0px 0px 13em 18em color(secondary);
    }

}

#stop-camera-scan {
    position: absolute;
    top: 10%;
    left: 12%;
    display: none;
    height: 2em;
    width: 2em;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

li {
    &:hover{
        i, i +p {
            color: color(hover);
        }
    }

    &:focus-visible {
        i, i+p {
            color: color(focus);
        }
    }
    
    &:active {
        i, i+p {
            color: color(focus);
        }
    }
}