ul {
    list-style: none;
}

main {
    display: grid;
    justify-content: center;
    overflow-y: scroll;
    padding: 2em;
}


.go-card {
    height: 11em;
    width: 18em;
    border-radius: 1.5em;
    background-color: blue;
}