* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
  height: auto;
  width: 100%;
  text-align: center;
  background-color: darkgray;
  box-shadow: 0px -5px 25px 5px black;
  z-index: 100;
}
header h1 {
  font-size: 5vw;
}
header ul {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}
header ul li button {
  padding: 0.3em;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.514);
}
header .fa {
  font-size: 2em;
}

#shopping-list > aside {
  position: fixed;
  top: 20%;
  left: auto;
  right: 0;
  bottom: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 37.5em;
  transform: translateX(calc(100vw - 2.5em));
  transition: all 0.3s ease-in;
  z-index: 100;
}
#shopping-list > aside:has(input[name=open-filter]:checked) {
  transform: translateX(calc(100vw - 14em));
}
#shopping-list > aside > label {
  display: block;
  width: 2em;
  padding: 0.6em 1em;
  cursor: pointer;
  color: #FFFFFF;
  background: #2E9BD8;
  border-radius: 1em 0 0 1em;
}
#shopping-list > aside > label p {
  margin-top: 5em;
  font-size: 1em;
  transform: rotate(-90deg);
  text-transform: uppercase;
  overflow-wrap: normal;
}
#shopping-list > aside > label input {
  position: absolute;
  left: 9999em;
}
#shopping-list > aside div {
  background-color: #FFFFFF;
  padding: 25px;
  color: #2E9BD8;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 3px solid #2E9BD8;
}
#shopping-list h3:first-letter {
  text-transform: uppercase;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10dvh;
  width: 100%;
  background-color: darkgray;
  box-shadow: 0px 5px 25px 5px black;
}
footer ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: flex-end;
  width: 100%;
}
footer ul li {
  display: block;
  padding: 10px;
  min-width: 48px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer ul li a {
  position: relative;
}
footer ul li .fa {
  font-size: 2em;
}
footer ul li p {
  margin-top: 0.5em;
}
footer ul li span {
  position: absolute;
  top: 10%;
  right: 10%;
  display: none;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: red;
  box-shadow: 0px 1px 10px 1px red;
}

form#edit-product-form {
  display: grid;
  text-align: left;
}
form#edit-product-form img {
  height: 9em;
  object-fit: contain;
}
form#edit-product-form input,
form#edit-product-form select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
form#edit-product-form input[type=submit] {
  margin: 8px 0;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  border: none;
}

#filters h2 {
  margin-bottom: 1em;
  font-size: 1em;
}
#filters input[type=radio] {
  margin-right: 1em;
}
#filters input[type=submit] {
  margin-top: 2em;
}

.go-cards div, .reclame, main > section {
  margin-bottom: 1em;
}

.go-cards {
  display: grid;
  gap: 1em;
}
@media screen and (min-width: 768px) {
  .go-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
.go-cards div {
  height: auto;
  width: 100%;
  max-width: 17em;
  padding: 1em;
  border-radius: 1.5em;
  background-color: rgb(177, 230, 255);
}
.go-cards div:nth-of-type(4) {
  height: 11em;
  background-image: url("../img/sportdrank.jpg");
}
.go-cards div:nth-of-type(5) {
  display: flex;
  gap: 1em;
}
.go-cards div:nth-of-type(5) img {
  width: 40%;
  object-fit: contain;
  transform: rotate(30deg);
}
.go-cards div:nth-of-type(5) p {
  margin-top: 2em;
}

.reclame {
  height: 7em;
  width: 14em;
  border-radius: 1.5em;
  background-color: rgb(255, 190, 183);
}

.required {
  padding: 0.2em;
  border: 2px solid red;
}

.nutriscore {
  display: flex;
  background-color: rgb(200, 200, 200);
  padding: 1em;
}
.nutriscore li {
  display: inline-block;
  padding: 1.5em;
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  /*A*/
  /*B*/
  /*C*/
  /*D*/
  /*E*/
}
.nutriscore li:nth-child(1) {
  background: #387F46;
  border-radius: 0.6em 0 0 0.6em;
}
.nutriscore li:nth-child(2) {
  background: #92BA47;
}
.nutriscore li:nth-child(3) {
  background: #F6CD46;
}
.nutriscore li:nth-child(4) {
  background: #E08731;
}
.nutriscore li:nth-child(5) {
  background: #D54A26;
  border-radius: 0 0.6em 0.6em 0;
}
.nutriscore .currentScore {
  position: relative;
  margin: 0 -0.4em;
  padding: 1em 1.5em;
  border: 0.2em solid #FFFFFF;
  border-radius: 0.8em;
  color: #FFFFFF;
}

.pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: auto;
  padding: 1em;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 1.5em;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  transform: translate(-50%, -50%) scale(0.9);
  transition: all 0.3s;
  z-index: 10;
}
.pop-up img {
  width: 10em;
}
@media (min-width: 768px) {
  .pop-up {
    width: calc(100% - 2.5em);
    max-width: 900px;
  }
}
.pop-up#complete-pop-up p {
  font-size: 2em;
  font-style: italic;
  margin-bottom: 1em;
}
.pop-up#error-pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: auto;
  padding: 1em;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 1.5em;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  transform: translate(-50%, -50%) scale(0.9);
  transition: all 0.5s;
  z-index: 10;
}
.pop-up#error-pop-up p, .pop-up#error-pop-up h1 {
  margin-bottom: 0.5em;
}
.pop-up#error-pop-up .close {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 1.1em;
  letter-spacing: 0.05rem;
  color: inherit;
  transition: all 0.4s;
  cursor: pointer;
}
.pop-up#error-pop-up .close:hover {
  color: #0dd8e6;
}
.pop-up.open {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

ul {
  list-style: none;
}
ul a {
  text-decoration: none;
  color: inherit;
}

.btn {
  width: 100%;
  padding: 0.5em 1em;
  color: black;
  border-radius: 1em;
  border: none;
  background-color: skyblue;
  cursor: pointer;
}
.btn:focus-visible {
  background-color: #1B649C !important;
}
.btn:hover {
  background-color: #0dd8e6 !important;
}
.btn:active {
  background-color: #0d35e6 !important;
}

.hidden {
  display: none;
}

main {
  display: grid;
  justify-content: center;
  overflow-y: scroll;
  padding: 2em;
  overflow-x: hidden;
}
main > section:not(#product-detail) {
  padding: 1em;
  text-align: center;
  font-size: 1.5em;
  border: 1px solid #ccc;
  border-radius: 1.5em;
  scroll-margin-top: 100px;
  scroll-margin-bottom: 100px;
  transition: 1s;
}
main > section:not(#product-detail)#shopping-card h2 {
  font-size: 1.2em;
  margin-bottom: 2em;
}
main > section:not(#product-detail)#shopping-card > section:first-of-type {
  padding: 1em;
  border-radius: 1em;
  border: 1px solid #ccc;
}
main > section:not(#product-detail)#shopping-card > section:first-of-type div {
  display: flex;
  justify-content: space-between;
}
main > section:not(#product-detail)#shopping-card > section:first-of-type div img {
  width: 4em;
  transform: rotate(-22deg) translateY(1.2em);
}
main > section:not(#product-detail)#shopping-card > section:first-of-type div:first-of-type {
  align-items: center;
  padding-left: 0.5em;
  border-radius: 1em;
  border: 2px solid #2E9BD8;
  overflow: hidden;
  gap: 1em;
}
main > section:not(#product-detail)#shopping-card > section:first-of-type div:last-of-type {
  margin-top: 1em;
}
main > section:not(#product-detail)#shopping-card > section:first-of-type div:last-of-type a {
  width: 60%;
  border-radius: 0.5em;
  font-size: 0.7em;
  text-decoration: none;
  background-color: #2E9BD8;
}
main > section:not(#product-detail)#shopping-card > section:first-of-type div:last-of-type button {
  width: 30%;
  border: 2px solid #2E9BD8;
  background-color: #FFFFFF;
}
main > section:not(#product-detail)#shopping-card > section:first-of-type div p {
  font-weight: bold;
  width: 8em;
}
main > section:not(#product-detail)#shopping-card > section:last-of-type {
  height: auto;
  max-width: 13em;
  padding: 0.5em;
  background-color: deepskyblue;
  border-radius: 1em;
  border: 2px solid #ccc;
}
main > section:not(#product-detail)#shopping-card > section:last-of-type p {
  margin-top: 1em;
  color: #FFFFFF;
  font-style: italic;
}
main > section:not(#product-detail)#shopping-card > section:last-of-type div {
  border-radius: 1em;
  background-color: #FFFFFF;
}
main > section:not(#product-detail)#shopping-card > section:last-of-type div img {
  width: 90%;
}
main > section:not(#product-detail)#shopping-card > section:last-of-type img {
  width: 60%;
  margin-top: 1em;
}
main > section:not(#product-detail)#camera {
  height: 100vw;
  background-color: black;
}
main > section:not(#product-detail)#shopping-list li, main > section:not(#product-detail)#products li {
  display: flex;
  gap: 1.5em;
  height: auto;
  padding: 0.5em;
  margin-top: 1em;
  box-shadow: 1px 5px 12px 0px black;
  border-bottom: 1px solid #ccc;
}
main > section:not(#product-detail)#shopping-list li#empty-list, main > section:not(#product-detail)#products li#empty-list {
  display: none;
}
main > section:not(#product-detail)#shopping-list li img, main > section:not(#product-detail)#products li img {
  width: 50%;
}
main > section:not(#product-detail)#shopping-list li aside h3, main > section:not(#product-detail)#products li aside h3 {
  grid-area: Name;
  text-align: left;
}
main > section:not(#product-detail)#shopping-list li aside div, main > section:not(#product-detail)#products li aside div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2em;
}
main > section:not(#product-detail)#shopping-list li aside div p, main > section:not(#product-detail)#products li aside div p {
  position: relative;
  text-align: center;
  line-height: 8em;
  height: 5em;
}
main > section:not(#product-detail)#shopping-list li aside div p:first-of-type, main > section:not(#product-detail)#products li aside div p:first-of-type {
  grid-area: Koolhydr;
}
main > section:not(#product-detail)#shopping-list li aside div p:nth-of-type(2), main > section:not(#product-detail)#products li aside div p:nth-of-type(2) {
  grid-area: Sugar;
}
main > section:not(#product-detail)#shopping-list li aside div p:last-of-type, main > section:not(#product-detail)#products li aside div p:last-of-type {
  grid-area: Salt;
}
@media screen and (max-width: 767px) {
  main > section:not(#product-detail)#shopping-list li aside div p, main > section:not(#product-detail)#products li aside div p {
    width: 100%;
  }
}
main > section:not(#product-detail)#shopping-list li aside div p span, main > section:not(#product-detail)#products li aside div p span {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 2em;
  height: 2em;
  border: 1px solid black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  line-height: 43px;
}
main > section:not(#product-detail)#shopping-list > div, main > section:not(#product-detail)#products > div {
  margin-top: 2em;
  text-align: left;
}
main > section:not(#product-detail)#shopping-list > div h3, main > section:not(#product-detail)#products > div h3 {
  padding-bottom: 0.2em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}
main #product-detail {
  width: 100%;
  padding: 1em;
  scroll-margin-top: 100px;
  scroll-margin-bottom: 100px;
  transition: 1s;
}
main #product-detail .heading #edit-product-btn {
  width: 3em;
}
main #product-detail .heading div {
  display: flex;
}
main #product-detail .heading div:first-of-type {
  flex-wrap: wrap;
}
main #product-detail .heading div:first-of-type img {
  width: 100%;
  height: 10em;
  margin-bottom: 2em;
  object-fit: contain;
}
main #product-detail .heading div:last-of-type {
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}
main #product-detail .heading div:last-of-type p {
  font-size: 1.5em;
}
main #product-detail .heading .increase, main #product-detail .heading .decrease {
  padding: 0;
  font-size: 2em;
}
main #product-detail .heading h1 {
  margin-bottom: 1em;
  font-size: 1.5em;
}
main #product-detail h2 {
  margin-bottom: 1em;
}
main #product-detail li {
  margin-top: 1em;
  border-bottom: 1px solid #333;
}

#scanner {
  padding: none;
  border: none;
}
#scanner:has(video) {
  position: absolute !important;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
#scanner video {
  width: 100% !important;
  box-shadow: 0px 0px 13em 18em black;
}

#stop-camera-scan {
  position: absolute;
  top: 10%;
  left: 12%;
  display: none;
  height: 2em;
  width: 2em;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

li:hover i, li:hover i + p {
  color: #0dd8e6;
}
li:focus-visible i, li:focus-visible i + p {
  color: #1B649C;
}
li:active i, li:active i + p {
  color: #1B649C;
}

/*# sourceMappingURL=style.css.map */
